body {
  font-family: 'Raleway';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  color: #3B7BA4;
}

a:hover {
  text-decoration: none;
  color: #58D78B;
}

.red-text {
  color: red;
}
